{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as forms %}
{% block page_content %}
    <div class="form-inline">
    {{ forms.quick_form(form) }}
    </div>
    <br>
    <div>
        <table class="table table-striped">
        {% if movie_data %}
        {% for m in movie_data %}
        <tr>
        <td><a href="{{ url_for('movie.movie_info',movie_id=m.id, _external=True) }}">{{ m.name }}</a></td><td><a href="{{ m.url }}">电影天堂连接</a></td>
        </tr>
        {% endfor %}
        {% endif %}
        </table>
    </div>

{% endblock %}